<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-12 col-xs-12 ">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 col-xs-12  widget-box">
                    <div class="center widget-header widget-header-flat widget-header-small">
                        <h4 class="widget-title lighter">Email Verification</h4>
                    </div>
                    <div class="widget-main">
                        <div class="center">
                            <h5>
                                {{reponseMessage}}
                            </h5>
                            <hr />
                            <div>
                                <a href="http://localhost:4200" class="btn btn-primary" id="btnverify">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>