<div>
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-12 col-xs-12 ">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 col-xs-12  widget-box">
                        <div class="center widget-header widget-header-flat widget-header-small">
                            <h4 class="widget-title lighter">Please verify your email address</h4>
                        </div>
                        <div class="widget-main">
                            <div class="center">
                                <h5>
                                    check mailbox and Click on verification link in email that you received from
                                    <b>http://localhost:4200</b>
                                    <br />
                                    <br />
                                    if didn't get email,ckeck mail in <b>spam</b> Folder.
                                </h5>
                                <hr />
                                <div>
                                    <!-- <a class="btn btn-primary" id="btnverify" runat="server"
                                        onclick="return verifyEmail();">Resend Verification mail</a> -->
                                    <a href="http://localhost:4200" class="btn btn-primary" id="btnverify">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>